<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="EnableSSLOnMail" value="True"/>
    <add key ="Input" value="C:\Users\v-bobzh\Downloads"/>
    <add key ="Output" value="C:\Users\v-bobzh\Documents\Kindle\Output"/>
    <add key ="History" value="C:\Users\v-bobzh\Documents\Kindle\History"/>
    <add key ="Fail" value="C:\Users\v-bobzh\Documents\Kindle\Fail"/>
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="barbarossia.gol@gmail.com" deliveryMethod="Network">
        <network
            defaultCredentials="false"
            host="smtp.gmail.com"
            port="587"
            password="ross@iA]"
            userName="barbarossia.gol@gmail.com"/>
        <!-- When using .Net 4.0 (or later) add attribute: EnableSSL="True" and you're all set-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>