<?xml version="1.0" encoding="utf-8"?>
<userErrorConfiguration>
  <errors>
    <add errorCode="10001" errorName="CreateNewProjectMsg" errorMessage="Create a new project based on a template:">
    </add>
    <add errorCode="10002" errorName="CopyrightMsg" errorMessage="© 2012 Microsoft Corporation. All rights reserved.">
    </add>
    <add errorCode="10003" errorName="NoResultsMatchMsg" errorMessage="No results matched your search term">
    </add>
    <add errorCode="10004" errorName="RestartRequiredMsg" errorMessage="*You need to re-open for all workflows for applying this changes, no need to restart Foundry.">
    </add>
    <add errorCode="10005" errorName="SearchMsg" errorMessage="Type your search terms to filter content">
    </add>
    <add errorCode="10006" errorName="RequiredFieldMsg" errorMessage="This is a required field.">
    </add>
    <add errorCode="10007" errorName="SaveCategoryMsg" errorMessage="Save new category name to list">
    </add>
    <add errorCode="10008" errorName="CancelAddingCategoryMsg" errorMessage="Cancel adding a new category">
    </add>
    <add errorCode="10009" errorName="EnterNameForWorkflowMsg" errorMessage="Enter the name of the workflow you wish to create">
    </add>
    <add errorCode="10010" errorName="ClassNameMsg" errorMessage="Shows the class name that will be created for the workflow">
    </add>
    <add errorCode="10011" errorName="UnexpectedErrorMsg" errorMessage="An unexpected error occurred. You have found a bug.">
    </add>
    <add errorCode="10012" errorName="NameExistsMsg" errorMessage="Name already exists.">
    </add>
    <add errorCode="10013" errorName="MarketplaceNetworkIssueMsg" errorMessage="Network issues have interrupted your downloads from Marketplace. Please contact your network administrator.">
    </add>
    <add errorCode="10014" errorName="MarketplaceDownloadFailureMsg" errorMessage="Failed to download projects and activities to local machine.">
    </add>
    <add errorCode="10015" errorName="MarketplaceCancelFailureMsg" errorMessage="Failed to cancel downloading, please try again.">
    </add>
    <add errorCode="10016" errorName="MarketplaceCachingMsg" errorMessage="Projects and activities have been downloaded to local machine, system is caching them.">
    </add>
    <add errorCode="10017" errorName="WorkflowNameInvalidMsg" errorMessage="Workflow Name is invalid. A valid workflow name must begin with a letter and only can includes [a-z,A-Z,0-9,_] characters.\r\n">
    </add>
    <add errorCode="10018" errorName="InvalidContentFileMsgFormat" errorMessage="File {0} provided in the content options is not a well formed xml document and won't be loaded.">
    </add>
    <add errorCode="10019" errorName="CyclicDependenciesMsg" errorMessage="Cyclic dependency. Unable to upload to database because the dependency graph is not a Directed acyclic graph. This may be due to a a problem detecting the dependencies in the import process.">
    </add>
    <add errorCode="10020" errorName="AssemblyNullMsg" errorMessage="Assembly parameter cannot be null.">
    </add>
    <add errorCode="10021" errorName="AssemblyNameNullMsg" errorMessage="Assembly Name cannot be null.">
    </add>
    <add errorCode="10022" errorName="AssemblyLocationNullMsg" errorMessage="Assembly Location cannot be null.">
    </add>
    <add errorCode="10023" errorName="FileNotFoundMsg" errorMessage="The file specified does not exist.">
    </add>
    <add errorCode="10024" errorName="NonDotNetAssemblyMsgFormat" errorMessage="The file '{0}' is not a .NET assembly and cannot be imported.">
    </add>
    <add errorCode="10025" errorName="AssemblyCannotAnalyzeMsg" errorMessage="The assembly could not be analyzed and cannot not be imported.">
    </add>
    <add errorCode="10026" errorName="AssemblyUnsignedMsg" errorMessage="Unsigned assemblies are not supported.">
    </add>
    <add errorCode="10027" errorName="AssemblyListNullMsg" errorMessage="The list of assemblies to import is null.">
    </add>
    <add errorCode="10028" errorName="AssemblyAlreadyImportedMsg" errorMessage="The assembly already exists in the local cache.">
    </add>
    <add errorCode="10029" errorName="AssemblyInImportListMsg" errorMessage="The selected assembly is already in the list of assemblies to import.">
    </add>
    <add errorCode="10030" errorName="CategoryNameNullMsg" errorMessage="The name of the category cannot be null.">
    </add>
    <add errorCode="10031" errorName="CategoryNameOutOfRangeMsg" errorMessage="The name of the category exceeds the maximum length for the value.">
    </add>
    <add errorCode="10032" errorName="InvalidCategoryNameMsg" errorMessage="The name of the category contains invalid characters.">
    </add>
    <add errorCode="10033" errorName="ServerUnavailableMsg" errorMessage="The server is not available right now.">
    </add>
    <add errorCode="10034" errorName="FeatureNotImplementedMsgFormat" errorMessage="Feature \&quot;{0}\&quot; has not yet been implemented">
    </add>
    <add errorCode="10035" errorName="MarketplaceOpenedMsg" errorMessage="Do you want to close while the Marketplace View is open?">
    </add>
    <add errorCode="10036" errorName="MarketplaceDownloadingMsg" errorMessage="Do you want to close while the Marketplace is processing download?">
    </add>
    <add errorCode="10037" errorName="FileContainsNoWorkflowMsgFormat" errorMessage="The file '{0}' does not contain a valid workflow">
    </add>
    <add errorCode="10038" errorName="DataDirtyMsgFormat" errorMessage="Do you want to save changes to {0} before closing?">
    </add>
    <add errorCode="10039" errorName="CannotSaveLockedActivityMsg" errorMessage="This project was locked by an administrator. You are not allowed to save your changes to the server.">
    </add>
    <add errorCode="10040" errorName="OpenInReadonlyMsgFormat" errorMessage="This workflow was locked by {0}. You will open it in read-only mode.">
    </add>
    <add errorCode="10041" errorName="UnlockConfirmationMsgFormat" errorMessage="The workflow was locked by {0}. Would you like to unlock it?">
    </add>
    <add errorCode="10042" errorName="CannotUnlockMsgFormat" errorMessage="The workflow was locked by administrator {0}. You cannot unlock it now.">
    </add>
    <add errorCode="10043" errorName="KeepLockMsgFormat" errorMessage="{0} is locked by yourself, do you want to keep the lock?">
    </add>
    <add errorCode="10044" errorName="SaveAndUnlockConfirmationMsgFormat" errorMessage="Do you want to save changes to {0} before unlock? The workflow will be read-only after unlocked.">
    </add>
    <add errorCode="10045" errorName="MarketplaceCreateNewerVersionMsg" errorMessage="A newer version of this project exists in the Marketplace.  Would you like to create a newer version?">
    </add>
    <add errorCode="10046" errorName="MarketplaceDownloadNewerVersionMsg" errorMessage="A new version of this project exists in the Marketplace, you are not allowed to save your changes to the server. It is suggested that you save your work locally. Do you want to download the newer version?">
    </add>
    <add errorCode="10047" errorName="CannotSaveDuplicatedWorkflowMsgFormat" errorMessage="The name \&quot;{0}\&quot; already exists in server, please use another one.">
    </add>
    <add errorCode="10048" errorName="PrintConfirmationMsgFormat" errorMessage="You are going to print these activities on [ {0} ] pages of [ {1} ] paper with [ {2} ]. Are you sure?">
    </add>
    <add errorCode="10049" errorName="PrintFailureMsgFormat" errorMessage="Print failed due to {0}.">
    </add>
    <add errorCode="10050" errorName="CompileWorkflowSuccessfullyMsgFormat" errorMessage="Compiled the workflow {0} successfully.">
    </add>
    <add errorCode="10051" errorName="DeleteWorkflowConfirmationMsg" errorMessage="Are you sure to delete current opened workflow?">
    </add>
    <add errorCode="10052" errorName="SaveWorkflowFirstMsg" errorMessage="Please save the current project before performing this operations.">
    </add>
    <add errorCode="10053" errorName="AssemblyVersionConflictMsgFormat" errorMessage="The assembly you checked needs \&quot;{0}\&quot; version {1}. You cannot import it unless \&quot;{0}\&quot; version {2} is unchecked.">
    </add>
    <add errorCode="10054" errorName="CannotImportSelfMsg" errorMessage="You cannot import an assembly which has same name of current workflow.">
    </add>
    <add errorCode="10055" errorName="UncheckingAssemblyReferencedMsgFormat" errorMessage="You cannot uncheck \&quot;{0}\&quot; because following assemblies referenced it:">
    </add>
    <add errorCode="10056" errorName="FileNotFoundMsgFormat" errorMessage="File not found: {0}">
    </add>
    <add errorCode="10057" errorName="ServerTimedOutMsg" errorMessage="The server is not available right now (request timed out).">
    </add>
    <add errorCode="10058" errorName="InvalidVersionMsgFormat" errorMessage="\&quot;{0}\&quot; is not a valid version number.">
    </add>
    <add errorCode="10059" errorName="InvalidNugetSourceMsg" errorMessage="The source specified is invalid. Please provide a valid source.">
    </add>
    <add errorCode="10060" errorName="NugetSourceNameDuplicatedMsg" errorMessage="The name specified has already been added to the list of available package sources. Please provide a unique name.">
    </add>
    <add errorCode="10061" errorName="NetworkIssueOnConnectingNugetSourceMsgFormat" errorMessage="Failed to visit \&quot;{0}\&quot; due to network issue.">
    </add>
    <add errorCode="10062" errorName="NameTooLongMsg" errorMessage="The Name is too long.">
    </add>
    <add errorCode="10063" errorName="AssemblyNameNotMatchMsgFormat" errorMessage="The file '{0}' does not contain the required assembly '{1}'.">
    </add>
    <add errorCode="10064" errorName="FileVersionNotMatchMsgFormat" errorMessage="The file '{0}' is {1}, but {2} is required.">
    </add>
    <add errorCode="10065" errorName="UploadingToMarketplaceMsgFormat" errorMessage="Uploading {0} version {1} to Marketplace...">
    </add>
    <add errorCode="10066" errorName="SavingToServerMsgFormat" errorMessage="Saving {0} version {1} to the server...">
    </add>
    <add errorCode="10067" errorName="CompileFailureMsg" errorMessage="There was an error compiling the workflow.">
    </add>
    <add errorCode="10068" errorName="DeleteWorkflowFailureMsg" errorMessage="Failed to delete Workflow.">
    </add>
    <add errorCode="10069" errorName="UiMayNotRespondMsg" errorMessage="UI may not respond. Please wait...">
    </add>
    <add errorCode="10070" errorName="InvalidWorkflowMsgFormat" errorMessage="'{0}' is not a valid workflow">
    </add>
    <add errorCode="10071" errorName="WorkflowPublishedMsgFormat" errorMessage="Workflow: {0} Version {1} was published to:">
    </add>
    <add errorCode="10072" errorName="WorkflowPublishedWithErrorsMsgFormat" errorMessage="Workflow: {0} Version {1} was published with errors reported during publish: {2}">
    </add>
    <add errorCode="10073" errorName="SavingFailureMsg" errorMessage="\r\n\r\nYour changes were not successfully saved to the server.">
    </add>
    <add errorCode="10074" errorName="SaveToLocalFailureMsg" errorMessage="The file type is not recognized. The save to local could not be completed.">
    </add>
    <add errorCode="10075" errorName="CannotDeleteWorkflowTypeMsgFormat" errorMessage="The {0} can't be deleted, because there are workflows using it.">
    </add>
    <add errorCode="10076" errorName="NeedSelectTemplateMsg" errorMessage="\r\nYou must select a template.">
    </add>
    <add errorCode="10077" errorName="NeedSelectLocationMsg" errorMessage="\r\nYou must select a location.">
    </add>
    <add errorCode="10078" errorName="CannotDownloadSelectedTemplateMsg" errorMessage="Can not download the selected template.">
    </add>
    <add errorCode="10079" errorName="SpecifyEnvironmentToSearchMsg" errorMessage="Please specify an environment to search.">
    </add>
    <add errorCode="10080" errorName="SaveSettingsFailureMsg" errorMessage="Failed to save your settings, please try again later.">
    </add>
    <add errorCode="10081" errorName="ChangeAuthorFailureDueToSameAuthorMsg" errorMessage="The target author can't be same as original author.">
    </add>
    <add errorCode="10082" errorName="ChangeAuthorFailureMsg" errorMessage="Failed to change author.">
    </add>
    <add errorCode="10083" errorName="CopyProjectFailureMsg" errorMessage="Failed to copy project.">
    </add>
    <add errorCode="10084" errorName="SecurityGroupInvalidMsgFormat" errorMessage="The entered security group name {0} is invalid, please check it and try again.">
    </add>
    <add errorCode="10085" errorName="SGConnectionSucceedMsg" errorMessage="Connection is successful.">
    </add>
    <add errorCode="10086" errorName="EnvironmentSavedMsg" errorMessage="Save the environment settings successfully!">
    </add>
    <add errorCode="10087" errorName="EnvironmentSaveFailureMsg" errorMessage="Save the environment settings failed, please check the settings and try again later.">
    </add>
    <add errorCode="10088" errorName="SGGroupExistsMsgFormat" errorMessage="The entered security group name {0} exists, can not be added.">
    </add>
    <add errorCode="10089" errorName="WorkflowMovingFailureMsgFormat" errorMessage="The workflow {0} has existed in {1}, it can not be moved.">
    </add>
    <add errorCode="10090" errorName="WorkflowMovingFailureMsg" errorMessage="Failed to move project.">
    </add>
    <add errorCode="10091" errorName="TenantSettingsSavedMsg" errorMessage="Save the tenant settings successfully!">
    </add>
    <add errorCode="10092" errorName="TenantSettingsSaveFailureMsg" errorMessage="Save the tenant settings failed, please check the settings and try again later.">
    </add>
    <add errorCode="10093" errorName="SupplyDescriptionMsg" errorMessage="Please supply a description">
    </add>
    <add errorCode="10094" errorName="CancelWithoutSavingConfirmationMsg" errorMessage="Are you sure to discard your changes?">
    </add>
    <add errorCode="10095" errorName="MakeTaskFailureMsg" errorMessage="Cannot make selected activity as a task.">
    </add>
    <add errorCode="10096" errorName="UpdateOthersActivitiesMsgFormat" errorMessage="Update all other {0} in this workflow ?">
    </add>
    <add errorCode="10097" errorName="CannotAddActivitiesSelfMsgFormat" errorMessage="You can not data same activity {0} into self !">
    </add>
    <add errorCode="10098" errorName="NoActivitesUpdatedMsg" errorMessage="No activities need to be updated.">
    </add>
    <add errorCode="10099" errorName="CompileProjectNameNullMsg" errorMessage="Project name cannot be null.">
    </add>
    <add errorCode="10100" errorName="CompileProjectVersionNullMsg" errorMessage="Project version cannot be null.">
    </add>
    <add errorCode="10101" errorName="CompileProjectXamlNullMsg" errorMessage="Project xaml cannot be null.">
    </add>
    <add errorCode="10102" errorName="CompileOutputDirectoryNullMsg" errorMessage="Path of output directory cannot be null">
    </add>
    <add errorCode="10103" errorName="CompileProjectModelServiceNullMsg" errorMessage="Model service parameter cannot be null.">
    </add>
    <add errorCode="10104" errorName="CompileProjectVersionInvalidMsg" errorMessage="Specified project version is not valid.">
    </add>
    <add errorCode="10105" errorName="CompileBuildCodeNullMsg" errorMessage="Build result cannot be null">
    </add>
    <add errorCode="10106" errorName="CompileFileNameNullMsg" errorMessage="Output file name cannot be null">
    </add>
    <add errorCode="10107" errorName="CompileProjectFileNameTooLongMsg" errorMessage="The output assembly name is too long. The compile operation has been stopped.">
    </add>
    <add errorCode="10108" errorName="CompileProjectNullMsg" errorMessage="Project cannot be null.">
    </add>
    <add errorCode="10109" errorName="CompileCreatingOutputDirectoryMsg" errorMessage="Creating build directory">
    </add>
    <add errorCode="10110" errorName="CompileErrorCreatingOutputDirectoryMsg" errorMessage="Unable to create output directory.">
    </add>
    <add errorCode="10111" errorName="CompileValidatingFilePathMsg" errorMessage="Validating file path for build operation">
    </add>
    <add errorCode="10112" errorName="CompileErrorInFilePathMsg" errorMessage="Unable to get a valid path for the output files of the compile operation">
    </add>
    <add errorCode="10113" errorName="CompileCreatingFilesMsg" errorMessage="Creating project files">
    </add>
    <add errorCode="10114" errorName="CompileErrorCreatingFilesMsg" errorMessage="Unable to create files for build operation">
    </add>
    <add errorCode="10115" errorName="CompileCompilingMsg" errorMessage="Compiling project">
    </add>
    <add errorCode="10116" errorName="CompileErrorCompilingMsg" errorMessage="There was an error compiling the workflow. Unfortunately we can't retrieve the detail programmatically. See Output directory for details.">
    </add>
    <add errorCode="10117" errorName="CompileUnsignedAssembliesMsgFormat" errorMessage="Project '{0}' relies upon unsigned assemblies.\r\nUnsigned assemblies are not supported in compiled workflows. Request a signed version of from the authors instead.\r\n{1}">
    </add>
    <add errorCode="10118" errorName="CompileMultipleVersionsUsedMsgFormat" errorMessage="Compiling a workflow with activities from different versions of the same assembly is not supported.\n\nFor instance, this workflow contains references to both '{0}' from assembly '{1}' and '{2}' from assembly '{3}'.\n\nRewrite your workflow to use only one version of assembly '{4}' and re-compile.">
    </add>
    <add errorCode="10119" errorName="CompilePreviousSelfVersionMsgFormat" errorMessage="Compiling a workflow with activities from a previous compiled version of itself is not supported.\n\nRemove '{0}' from assembly '{1}' from the workflow and recompile.">
    </add>
    <add errorCode="10120" errorName="ConnectQueryServiceFailureMsg" errorMessage="Failed to connect with QueryService.">
    </add>
    <add errorCode="10121" errorName="AlreadyAssignedMsg" errorMessage="This activity or it's parents have been assigned.">
    </add>
    <add errorCode="10122" errorName="CannotGetLatestVersionMsg" errorMessage="This activity cannot get latest version.">
    </add>
    <add errorCode="10123" errorName="ADFailureMsg" errorMessage="This list of target users is partially due to some error reported by AD server. Please try later if you cannot find the target user you want in this list.">
    </add>
    <add errorCode="10124" errorName="ChooseActivityMsg" errorMessage="You have not selected any activity, please choose one.">
    </add>
    <add errorCode="10125" errorName="NestedIssueMsg" errorMessage="Sorry, cannot print this over nested workflow {0}. Nested level should be less than 25.">
    </add>
    <add errorCode="10126" errorName="NothingToPrintMsg" errorMessage="There is no activity to be printed!">
    </add>
    <add errorCode="10127" errorName="UnassignConfirmationMsg" errorMessage="If you unassign it, you will not be able to merge this task later. Are you sure?">
    </add>
    <add errorCode="10128" errorName="NoTaskToMergeMsg" errorMessage="There is no task to be merged">
    </add>
    <add errorCode="10129" errorName="NoTaskCanMergeMsg" errorMessage="There is no task meets the conditions to be merged.">
    </add>
    <add errorCode="10130" errorName="AddTaskInAnotherMsg" errorMessage="Cannot data a task in another task.">
    </add>
    <add errorCode="10131" errorName="CannotMakeTaskMsg" errorMessage="Cannot make selected activity as a task.">
    </add>
    <add errorCode="10132" errorName="NoTaskToUnassignMsg" errorMessage="There is no task to be unassigned.">
    </add>
    <add errorCode="10133" errorName="NoTaskCanUnassignMsg" errorMessage="There is no task meets the conditions to be unassigned.">
    </add>
    <add errorCode="10134" errorName="NetworkIssueOnTaskMsg" errorMessage="Network issues have interrupted your downloads from server.  Please contact your network administrator.">
    </add>
    <add errorCode="10135" errorName="PartOfTasksAreMergedMsg" errorMessage="Only tasks in 'Checked In' state can be merged, so this operation did not affect others.">
    </add>
    <add errorCode="10136" errorName="MergeCompletedMsg" errorMessage="Merge Completed.">
    </add>
    <add errorCode="10137" errorName="NoMoreOccurrencesMsg" errorMessage="No more occurrences.">
    </add>
    <add errorCode="10138" errorName="LoadExceptionErrorMsgFormat" errorMessage="Error loading the authoring tool. Click Ok and try to open Foundry again.\n\n Error while loading: {0} Details: {1}\n">
    </add>
    <add errorCode="10139" errorName="ExceptionErrorMsgFormat" errorMessage="Error loading: {0} Message: {1} Source: {2}\n">
    </add>
    <add errorCode="10140" errorName="NoMatchOfSelectionMsgFormat" errorMessage="No match of selection {0}.">
    </add>
    <add errorCode="10141" errorName="SearchReachedEndMsg" errorMessage="Search reached the end.">
    </add>
    <add errorCode="10142" errorName="SearchReachedStartMsg" errorMessage="Search reached the start.">
    </add>
    <add errorCode="10143" errorName="SearchNoMatchMsg" errorMessage="No items match your search.">
    </add>
    <add errorCode="10144" errorName="ActivityValidationFailedMsg" errorMessage="Not a workflow">
    </add>
    <add errorCode="10145" errorName="SetArgumentsFailedMsg" errorMessage="The property type is not Assignable from In, InOut or Out Argument types, This should be impossible.">
    </add>
    <add errorCode="10146" errorName="ErrorPositionMsgFormat" errorMessage="Line {0} Pos {1}: {2}">
    </add>
    <add errorCode="10147" errorName="CDSSearchOnlineFailed" errorMessage="Failed to search online packages, please try again.">
    </add>
    <add errorCode="10148" errorName="CDSSearchLocalFailed" errorMessage="Failed to search local packages, please try again.">
    </add>
    <add errorCode="10149" errorName="CDSSearchUpdateFailed" errorMessage="Failed to search update packages, please try again.">
    </add>
    <add errorCode="10150" errorName="CDSInstallFailedFormat" errorMessage="Install the package: {0}, version: {1} failed, please try again.">
    </add>
    <add errorCode="10151" errorName="CDSUpdateFailedFormat" errorMessage="Update the package: {0}, version: {1} failed, please try again.">
    </add>
    <add errorCode="10152" errorName="CDSUninstallFailedFormat" errorMessage="Uninstall the package: {0}, version: {1} failed, please try again.">
    </add>
    <add errorCode="10153" errorName="TaskActivityGetFailed" errorMessage="Failed to get task activity.">
    </add>
    <add errorCode="10154" errorName="SearchTaskActivityFailed" errorMessage="Failed to search task activities.">
    </add>
    <add errorCode="10155" errorName="OpenTaskActivityFailed" errorMessage="There was an error on opening the task activity.">
    </add>
    <add errorCode="10156" errorName="HyperLinkInvalidMsg" errorMessage="The typed link is invalid.">
    </add>
    <add errorCode="10157" errorName="DataAccessFault" errorMessage="An error occured during data access.">
    </add>
    <add errorCode="10158" errorName="ServiceFault" errorMessage="An error occurred.  Please contact workflow marketplace service system administrator for assistance.">
    </add>
    <add errorCode="10159" errorName="ValidationFault" errorMessage="An error occured during validation.">
    </add>
    <add errorCode="10160" errorName="ImportAssebmlyFaild" errorMessage="An error occured import assebmly.">
    </add>
    <add errorCode="10161" errorName="TypeLoadFailed" errorMessage="Assembly type name was not found in assembly name.">
    </add>
    <add errorCode="10162" errorName="PathTooLongFailed" errorMessage="An assembly or module was loaded twice with two different evidences.">
    </add>
    <add errorCode="10163" errorName="VersionIncorrectFaultReasonMessage" errorMessage="Version number is incorrect">
    </add>
    <add errorCode="10164" errorName="CDSConnectionFailure" errorMessage="The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.">
    </add>
  </errors>
</userErrorConfiguration>