<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccessToken" value="21.bddf2e60f72e69ef3d21858540c16589.2592000.1391234674.3761460759-1544549"/>
    <add key="RemotePath" value="/apps/Storage_01/Bttiantang"/>
    <add key="FavoriatePath" value="Bttiantang"/>
    <add key="FavoriatePath2" value="yyets"/>
    <add key="LocalPath" value="C:\Users\v-bobzh\Documents\Torrent"/>
  </appSettings>
</configuration>