<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccessToken" value="3.45105dac5b11385ef46c1715012f3cde.2592000.1385104604.3761460759-1544549"/>
  </appSettings>
</configuration>